.detailContainer {
    margin: 20px;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 5px;
}
.detailContainer img {
    border-radius: 75px;
}
.detailContainer p {
    word-wrap: break-word;
    font-size: 120%;
    color: #333;
}