/* bootstrap grid */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

/* blueprint CSS resources */
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

/* custom defs */
@import "./customVars";

/* global font settings */
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* pagination */
.pagination {
  text-align: center;
}
.pagination li {
  list-style: none;
  display: inline-block;
  padding: 5px;
  font-size: 130%;
}
.pagination li:hover {
  background-color: #dddddd;
}
.pagination li a {
  color: #333 !important;  
}
.pagination .previous,
.pagination .next,
.pagination .break-me {
  display: inline-block;
  list-style: none
}
.pagination .active {
  color: #000;
  font-weight: bold;
  text-decoration-line: underline;
}
