.actorContainer {
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    max-width: 360px;
    display: inline-block;
}
.detailBtn {
    float: right;
}
.detailBtn a {
    color: white;
}