@import '../../styles/customVars';

.header {
    background-color: $main_header;
    color: white;
    text-align: center;
    padding: 10px;
}
.heading {
    display: inline-block;
    margin: 0;
}
.btnLogOut {
    float: right;
}